*{
    margin: 0;
    padding: 0;
}
.clearfix:after{
    display: block;
    content: "";
    clear: both;
}
.container{
    margin: 0 auto;
    width: 960px;
}
header{
    text-align: center;
    background-color: #DD8181;
    color: white;
    padding: 1%;
    margin-bottom: 1%;
}

main{
    width: 960px;
    margin: 0 auto
}
.article{
    box-sizing: border-box;
    width: 30%;
    float: left;
    border: 1px solid lightgrey;
    color: black;
    margin: 1%;
    box-shadow: 0px 1px 5px 0px #14040D;
}
footer{
    background-color: #DD8181;
    color: white;
    padding: 2% 1% 0;
    margin-top: 2%;
    height: 40px;

}

img{
    display: block;
    width: 100%;
}
.articleContent{
    padding: 0% 4% 4% 4%;
    font-size: 15px;
}
h3{
    position: relative;
    bottom: 40px;
    left:10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}